header {
    background-image: url(../assets/headerBackground.jpg);
    background-size: cover;
    background-position: 75%;
}

h1 {
    margin: 0px 25px 25px 25px;
    padding-top: 100px;
}

h2 {
    font-family: "Press Start 2P", sans-serif;
    font-size: 1.6rem;
    margin: 25px 10px;
    text-align: center;
}

p {
    font-family: "Press Start 2P", sans-serif;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}

header p {
    min-height: 100px;
    margin-bottom: 0px;
}